/* GLOBAL */
* {
    box-sizing: border-box;
}

*:focus {
    outline: 2px dashed #7296EC;
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #fff;
    color: #4a4b4c;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    text-decoration: none;
    padding: 13px 20px;
    color: #fff;
    background-color: #7296EC;
    border-radius: 10px;
    font-size: 500;
    font-size: 16px;
    line-height: 18px;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.8;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE-HEADER */
.site-header-top {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
}

.site-header-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header-top-inner {
    display: flex;
    align-items: center;
}

.site-header-logo {
    display: inline-flex;
    margin-right: 35px;
    padding: 8px 6px;
    border-radius: 7px;
    background-color: #fff;
}

.site-header-logo:hover {
    opacity: 0.8;
}

.site-header-logo:active {
    opacity: 0.8;
}

.currency-rates {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.currency-rates-item:not(:last-child) {
    margin-right: 25px;
}
.currency-rates-type {
    font-weight: 700;
    color: #2959CE;
}

.currency-rates-value {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}


.site-search {
    display: inline-flex;
    width: 275px;
    margin-right: 25px;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    border: none;
    border-radius: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8d8d8d;
}

.lang-toggle {
    padding: 3px;
    border-radius: 39px;
    margin-right: 25px;
    background-color: #DCE6FF;
}

.lang-toggle-link {
    display: inline-flex;
    text-decoration: none;
    padding: 8px;
    border-radius: 50%;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #a6a6a6;
    background-color: transparent;
}

.lang-toggle-link-active {
    color: #000;
    background-color: #fff;
}

/* SITENAV */
.sitenav {
    background-color: #fff;
}

.sitenav-container {
    padding-bottom: 20px;
    padding-top: 30px;
}

.sitenav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #7f7f7f;
}

.sitenav-link:hover {
    opacity: 0.8;
}

.sitenav-link:active {
    opacity: 0.6;
}